<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Name }} Authorization</title>
</head>
<body
  data-name="{{ .Name }}"
  data-site-key="{{ .TurnstileSiteKey }}"
  data-auth-url="/login/api/auth"
>
  <div id="app"></div>
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit" async defer></script>
  <script type="module" src="/static/js/login.js"></script>
</body>
</html>
